<!DOCTYPE html>
<!--
SPDX-FileCopyrightText: 2021 codedust

SPDX-License-Identifier: EUPL-1.2
-->
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FIT-Connect Conformance Tester</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="{{ url_for('static', filename='fontawesome-free-6.1.1-web/css/all.css') }}" rel="stylesheet">
</head>
<body>
  <section class="section">
    <h1 class="title">Submission {{ submission_id }}</h1>
    <p class="block">Submission {{ submission_id }} has the following conformance results:</p>
  </section>
  <section class="section">
    {%+ for key, conformance_result in conformance_results.items() +%}
    <div class="box py-4 my-2">
      <span>{{loop.index}}. {{ conformance_result.description|e }}</span>
      {%+ if conformance_result.status == 'success' +%}
      <span class="icon is-pulled-right"><i class="fas fa-check has-text-success-dark"></i></span>
      {%+ elif conformance_result.status == 'error' +%}
      <span class="icon is-pulled-right"><i class="fas fa-xmark has-text-danger-dark"></i></span>
      {%+ elif conformance_result.status == 'pending' +%}
      <span class="icon is-pulled-right"><i class="fas fa-hourglass has-text-grey-lighter"></i></span>
      {% endif %}
      {%+ if conformance_result.error +%}
      <div class="icon-text mt-3 ml-4">
        <span class="icon has-text-danger">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <span>{{ conformance_result.error|e }}</span>
      </div>
      {% endif %}
    </div>
    {%+ endfor +%}
  </section>
  <script id="template-conformance-results" type="x-tmpl-mustache">
</script>
</body>
